html, body, * {
    margin: 2px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

body {
    display: flex;
    height: 100vh;
}

a {
    text-decoration: none;
}

.leftImage {
    background-image: url("../images/mainPageImage.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
}

.mainPage {
    background-color: antiquewhite;
    width: 50vw;
}

.mainPageVoid {
    height: 50vh;
}

.mainPageLogin {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}