html, body, * {
    margin: 2px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    overflow: visible;
}

.bodyMessages{
    overflow: visible;
    background-repeat: round;
}

@media (min-width: 768px) { 
    body {
        overflow: hidden;
        background-repeat: no-repeat;
    }
}

.customColorPurple{
    color: #4912a3;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.leftImage {
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 100vh;
}

.mainPage {
    width: 50vw;
    position: fixed;
    top: 0px;
    right: 0px;
}

.mainPageVoid {
    height: 35vh;
}

.mainMessage, .createAccountMessage{
    color: #4912a3;
    font-weight: 900;
    margin-bottom: 25px;
}

.createAccount{
    color: #4912a3;
    font-weight: 500;
}

.mainPageLogin, .createAccountPage, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonEnter, .buttonCreateAccount, .logoutBtn{
    background-color: #f57123;
    color: white;
}

.buttonEnter:hover, .buttonCreateAccount:hover, .logoutBtn:hover{
    background-color: #f3a77c;
}

input[type=submit]{
    cursor: pointer;
}

.editDeleteBtn{
    width: 150px;
    cursor: pointer;
    margin: 10px
}

thead{
    box-shadow: 0px 3px 0px 0px black;
}

.mainPageLogin {
    animation-name: mainPageLogin;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.createAccountPage {
    animation-name: createAccountPage;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes mainPageLogin {
    0% {
        transform: translateX(50%) translateY(200%);
    }
    50% {
        transform: translateX(50%) translateY(0%);
    }
    100% {
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes createAccountPage {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0%);
    }
}