html, body, * {
    margin: 2px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

.leftImage {
    /* background-image: url("../images/mainPageImage.png"); */
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 100vh;
}

.mainPage {
    background-color: antiquewhite;
    width: 50vw;
    position: fixed;
    top: 0px;
    right: 0px;
}

.mainPageVoid {
    height: 50vh;
}

.mainPageLogin, .createAccountPage, form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    all: unset;
    border: none;
    margin: 5px;
    padding: 5px;
    width: 75%;
    height: 50px;
    text-align: center;
}

.buttonEnter, .buttonCreateAccount, .logoutBtn{
    background-color: darkgoldenrod;
    color: white;
}

.logoutBtn{    
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 25px;
}

input{
    width: 400px;
    height: 50px;
    margin: 10px;
}

.userInputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_messages{
    display: inline-block;
    position: fixed;
    margin-top: 100px;
}

table{
    width: 100vw;
    margin-top: 200px;
}